
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</head>
<body>

        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>    
            </thead>
            <tbody>
                <tr th:each ="curso:${cursos}">
                    <td th:text="${curso.nombre}"></td> 
                </tr>
            </tbody>
        </table>
        
        
        
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <tr th:each ="alumno:${alumnos}">
                <a href="alumnos" th:text="${alumno.nombre}" > ></td> 
                </tr>
  </div>
</div>
      
        
        
        
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <tr th:each ="curso:${cursos}">
                <a href="alumnos" th:text="${curso.nombre}" > ></td> 
                </tr>
  </div>
</div>
<td><a th:href="@{/${alumno.idAlumno}/${curso.idCurso}}+" class="btn btn-warning">Inscribir</button></td>
  
  
  
  <form action="#" th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${book.id}"/>
    <div class="form-group">
        <label for="title">Book title:</label>
        <input type="text" class="form-control" id="title" th:field="*{title}" th:value="${book.title}"/>
    </div>

    <div class="form-group">
        <label for="author">Authors</label>
        <input list="author"/>

        <datalist id="author">
            <option th:each="author : ${authors}" th:value="${author.name}"></option>
        </datalist>
    </div>
    <input type="submit" class="btn btn-default" value="Save"/>
</form>



</body>
</html>